/* Barra superior fija */
.navbar2 h1 {
    color: #f9f9f9;
}

.navbar2 {
    height: 60px;
    background-color: #003366; /* azul oscuro */
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center; /* centra horizontalmente */
    padding: 0 20px;
    font-weight: bold;
    font-size: 1.2rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

