.content {
    margin-left: 180px;
    padding: 20px;
    background-color: #FDF0F0;
    min-height: 100vh;
    display: flex;
    justify-content: center; /* centra horizontalmente */
    align-items: flex-start; /* arriba vertical */
    box-sizing: border-box;
  }
  
  .container {
    width: 100%;
    max-width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
    box-sizing: border-box;
    text-align: center;
  }
  
  .container h1 {
    margin-bottom: 20px;
    color: #003366;
  }
  