.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* centra vertical */
    align-items: center; /* centra horizontal */
    min-height: 80vh; /* ocupa la mayor parte de la pantalla */
    gap: 15px; /* espacio entre elementos */
    padding: 20px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 300px; /* ancho fijo para que el form no sea muy ancho */
    gap: 15px;
    background-color: black;
  }
  
  button {
    padding: 10px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
  }
  
  button:hover {
    background-color: #A8D5BA;
    color: #003366;
  }
  